*
{ margin: 10px; }
#cajaprincipal
{
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
    border-style: solid;
    width: 600px;
    height: 700px;
    background-color: yellow;
}

#caja1
{
    margin: auto;
    margin-top: 30px;
    border-radius: 100px;
    border-style: solid;
    width: 200px;
    height: 200px;
    background-color: white;
}

#caja1-1
{
    position: absolute;
    left: 51%;
    top: 15%;
    margin: auto;
    margin-top: 40px;
    border-radius: 15px;
    border-style: solid;
    width: 20px;
    height: 20px;
    margin-right: 25%;
    background-color: rgb(233, 229, 229);
    align-items: center;

}

#caja1-2
{
    position: absolute;
    left: 26%;
    top: 15%;
    margin: auto;
    margin-top: 40px;
    border-radius: 15px;
    border-style: solid;
    width: 20px;
    height: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(241, 240, 237);

}

#caja1-3
{
    position: absolute;
    top: 25%;
    left: 47.5%;
    margin: auto;
    margin-top: 40px;
    border-radius: 15px;
    border-style: solid;
    width: 50px;
    height: 20px;
    margin-inline-end: 10px;
    background-color: red;

}

#caja2
{
    margin: auto;
    margin-top: 30px;
    border-radius:200px;
    border-style: solid;
    width: 400px;
    height: 400px;
    background-color: white;
}

#caja3
{
    position: absolute;
    left: 45%;
    top: 15%;
    margin: auto;
    margin-top: 30px;
    border-radius:200px;
    border-style: solid;
    width: 50px;
    height: 50px;
    background-color: black;
}

#caja4 
{
    position: absolute;
    left: 50%;
    top: 15%;
    margin: auto;
    margin-top: 30px;
    border-radius:200px;
    border-style: solid;
    width: 50px;
    height: 50px;
    background-color: rgb(12, 12, 12);

}

#caja2-1 
{
    margin: auto;
    margin-top: 30px;
    border-radius: 500px;
    width: 220px;
    height: 300px;
    background-color: rgb(247, 154, 174);
}